.ojo {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.borrar {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.contenedorTabla{
    width: 100%;
    max-height: 450px;
    overflow-y:scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    background-color: #ffffff;
}

.contenedorTabla th{
    position: sticky;
    top: 0px;
    background-color: aliceblue;
}