.content {
    background-color: whitesmoke;
    font-family: var(--albert);
    font-size: 23px;
    width: 100%;
  }
  
  .containerPrincipal {
    padding: 40px 40px 0 40px;
  }
  
  .hrContainer {
    border: 1px solid #e6e7e8;
  }
  
  .containerTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    margin: 35px 0px 0px;
    width: 100%;
    min-height: calc(100vh - 180px);
    height: 80vh;
  
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .nav_links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }
  
  .nav_links li:first-child {
    padding: 0px 20px 10px;
  }
  .ojo {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
  }
  
  .borrar {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
  }
  
  .contenedorTabla {
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .contenedorTabla th {
    position: sticky;
    top: 0px;
    background-color: #f3f3f3;
  }